#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.count{

    display: flex;
    padding: 3em;
    border-radius: 3em;
    justify-content: space-around;

}

.card{
    padding: 0.5em;
    min-width: 20%;
    border-radius: 3em;
}

.container{
    padding: 2em;
    margin: 2em;
    display: flex;
    justify-content: space-between;
}
